#! /bin/sh

mkdir -p /etc/rancher-conf/dashboards.staged
cd /etc/rancher-conf/dashboards.staged

{{ range services -}}
service={{ .Name }}
stack={{ .Stack }}
kind={{ .Kind }}
{{ with .Metadata.GetValue "grafana" -}}
{{ range $url := .dashboards.static -}}
id=$(echo "{{ $url }}" | sha256sum - | awk '{ print $1 }')
echo "Downloading {{ $url }} to $id"
curl -s -L -o ${id}.json {{ $url }}

{{ end -}}
{{ end -}}
{{ end -}}

cd ..
mv dashboards.staged/* dashboards/*
